In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
Dieteren = pd.read_csv('Dieteren-forecast_2months.csv', index_col='timestamp', usecols=['timestamp','h', 'prediction'])

In [3]:
Dieteren['h'] = Dieteren['h'].str.extract('(\d+)', expand=False).astype(int)

In [4]:
Dieteren

                      h  prediction
timestamp
2016-11-01 00:00:00   1  303.933663
2016-11-01 01:00:00   1  306.822058
2016-11-01 02:00:00   1  360.856301
2016-11-01 03:00:00   1  463.715626
2016-11-01 04:00:00   1  576.644304
...                  ..         ...
2016-12-30 20:00:00  24  519.556221
2016-12-30 21:00:00  24  422.612875
2016-12-30 22:00:00  24  384.799110
2016-12-30 23:00:00  24  337.231577
2016-12-31 00:00:00  24  267.963758

[34584 rows x 2 columns]

In [5]:
pivot = pd.pivot_table(Dieteren, values='prediction', index=['timestamp'], columns=['h'])

In [6]:
pivot

h,1,2,3,4,5,6,7,8,9,10,...,15,16,17,18,19,20,21,22,23,24
timestamp,,,,,,,,,,,,,,,,,,,,,
2016-11-01 00:00:00,303.933663,287.640925,311.748049,365.602732,426.100130,590.081515,641.160103,753.669256,745.482056,764.420784,...,830.823586,798.843101,793.050011,699.706024,635.535184,562.372954,464.982185,448.785027,368.837066,383.406377
2016-11-01 01:00:00,306.822058,329.825613,366.494565,466.824419,532.353495,701.587303,715.053497,777.301119,741.827053,750.705014,...,835.036430,793.607670,758.943068,631.328788,541.042828,502.591777,419.357452,382.593478,353.876400,348.778712
2016-11-01 02:00:00,360.856301,421.334236,463.513411,596.049284,622.420638,767.914606,765.979639,777.686449,767.758787,760.942628,...,782.245217,732.695779,672.895833,543.377556,454.091227,446.110792,376.890138,316.030849,351.335539,335.799860
2016-11-01 03:00:00,463.715626,548.582287,603.787343,722.116580,704.703568,806.628942,814.840664,785.826288,815.185564,795.853251,...,726.403538,665.088662,584.176592,479.044180,395.014158,399.773816,343.124720,286.173928,357.112812,348.225391
2016-11-01 04:00:00,576.644304,667.860147,729.015649,809.898435,749.354882,809.420131,840.030660,794.745705,854.392303,829.056610,...,654.317791,584.400379,501.848622,428.242463,358.684171,359.520087,311.767753,283.172028,361.093886,383.686352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-30 20:00:00,497.925062,387.736086,396.226337,292.081729,315.499311,288.815911,361.380609,301.288441,393.474675,435.297261,...,622.571336,645.175793,628.394252,643.787639,628.383587,669.710817,669.085251,583.390024,623.744680,519.556221
2016-12-30 21:00:00,419.416502,328.719966,355.920849,278.231816,318.757867,302.114461,387.059634,350.357722,451.649787,490.138468,...,568.928419,581.027187,587.351244,609.123098,597.045780,603.569100,592.442484,494.644091,526.088880,422.612875
2016-12-30 22:00:00,374.048003,299.527446,322.484303,292.095979,338.383320,346.454619,418.953654,429.094739,537.761616,570.397736,...,574.944512,584.808546,617.935562,634.022846,638.604571,607.548576,566.574199,460.654164,471.826573,384.799110
2016-12-30 23:00:00,352.456432,287.665871,310.922105,315.722887,364.945682,392.418195,460.517023,505.817976,619.736281,641.629007,...,566.625295,575.173481,628.106233,627.667216,645.074685,577.255952,507.116982,407.292848,396.583679,337.231577
2016-12-31 00:00:00,376.017195,248.468320,309.439442,275.209836,357.282520,399.280177,474.093333,418.702933,389.378846,407.901212,...,475.583648,467.774037,446.934236,441.235445,375.824047,353.322355,362.305703,361.696254,356.046149,267.963758

In [7]:
pivot = pivot.add_prefix('Consumer_0_forec_h_')

In [8]:
pivot

h,Consumer_0_forec_h_1,Consumer_0_forec_h_2,Consumer_0_forec_h_3,Consumer_0_forec_h_4,Consumer_0_forec_h_5,Consumer_0_forec_h_6,Consumer_0_forec_h_7,Consumer_0_forec_h_8,Consumer_0_forec_h_9,Consumer_0_forec_h_10,...,Consumer_0_forec_h_15,Consumer_0_forec_h_16,Consumer_0_forec_h_17,Consumer_0_forec_h_18,Consumer_0_forec_h_19,Consumer_0_forec_h_20,Consumer_0_forec_h_21,Consumer_0_forec_h_22,Consumer_0_forec_h_23,Consumer_0_forec_h_24
timestamp,,,,,,,,,,,,,,,,,,,,,
2016-11-01 00:00:00,303.933663,287.640925,311.748049,365.602732,426.100130,590.081515,641.160103,753.669256,745.482056,764.420784,...,830.823586,798.843101,793.050011,699.706024,635.535184,562.372954,464.982185,448.785027,368.837066,383.406377
2016-11-01 01:00:00,306.822058,329.825613,366.494565,466.824419,532.353495,701.587303,715.053497,777.301119,741.827053,750.705014,...,835.036430,793.607670,758.943068,631.328788,541.042828,502.591777,419.357452,382.593478,353.876400,348.778712
2016-11-01 02:00:00,360.856301,421.334236,463.513411,596.049284,622.420638,767.914606,765.979639,777.686449,767.758787,760.942628,...,782.245217,732.695779,672.895833,543.377556,454.091227,446.110792,376.890138,316.030849,351.335539,335.799860
2016-11-01 03:00:00,463.715626,548.582287,603.787343,722.116580,704.703568,806.628942,814.840664,785.826288,815.185564,795.853251,...,726.403538,665.088662,584.176592,479.044180,395.014158,399.773816,343.124720,286.173928,357.112812,348.225391
2016-11-01 04:00:00,576.644304,667.860147,729.015649,809.898435,749.354882,809.420131,840.030660,794.745705,854.392303,829.056610,...,654.317791,584.400379,501.848622,428.242463,358.684171,359.520087,311.767753,283.172028,361.093886,383.686352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-30 20:00:00,497.925062,387.736086,396.226337,292.081729,315.499311,288.815911,361.380609,301.288441,393.474675,435.297261,...,622.571336,645.175793,628.394252,643.787639,628.383587,669.710817,669.085251,583.390024,623.744680,519.556221
2016-12-30 21:00:00,419.416502,328.719966,355.920849,278.231816,318.757867,302.114461,387.059634,350.357722,451.649787,490.138468,...,568.928419,581.027187,587.351244,609.123098,597.045780,603.569100,592.442484,494.644091,526.088880,422.612875
2016-12-30 22:00:00,374.048003,299.527446,322.484303,292.095979,338.383320,346.454619,418.953654,429.094739,537.761616,570.397736,...,574.944512,584.808546,617.935562,634.022846,638.604571,607.548576,566.574199,460.654164,471.826573,384.799110
2016-12-30 23:00:00,352.456432,287.665871,310.922105,315.722887,364.945682,392.418195,460.517023,505.817976,619.736281,641.629007,...,566.625295,575.173481,628.106233,627.667216,645.074685,577.255952,507.116982,407.292848,396.583679,337.231577
2016-12-31 00:00:00,376.017195,248.468320,309.439442,275.209836,357.282520,399.280177,474.093333,418.702933,389.378846,407.901212,...,475.583648,467.774037,446.934236,441.235445,375.824047,353.322355,362.305703,361.696254,356.046149,267.963758

In [39]:
pivot.to_csv('Dieteren_forecast.csv')