In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import pickle

import os

In [7]:
names = ['GEP1', 'GEP4']

In [24]:
GEP1 = pd.read_csv('./GEP/Consumption_15min.csv', index_col=0, header=0, names=['value'])
GEP2 = pd.read_csv('./GEP/B2_Consumption_15min.csv', index_col=0, header=0, names=['value'])
GEP4 = pd.read_csv('./GEP/B4_Consumption_15min.csv', index_col=0, header=0, names=['value'])

In [27]:
GEP4

                     value
2018-05-05 00:00:00  4.094
2018-05-05 00:15:00  4.120
2018-05-05 00:30:00  4.019
2018-05-05 00:45:00  4.145
2018-05-05 01:00:00  4.195
...                    ...
2020-02-29 22:45:00  5.275
2020-02-29 23:00:00  5.451
2020-02-29 23:15:00  5.325
2020-02-29 23:30:00  5.526
2020-02-29 23:45:00  5.577

[63936 rows x 1 columns]

In [26]:
GEP1['00:00':]

                     value
2014-12-06 00:00:00   7.14
2014-12-06 00:15:00   7.56
2014-12-06 00:30:00   6.72
2014-12-06 00:45:00   6.93
2014-12-06 01:00:00   7.14
...                    ...
2019-12-31 22:45:00   3.78
2019-12-31 23:00:00   3.99
2019-12-31 23:15:00   3.78
2019-12-31 23:30:00   3.78
2019-12-31 23:45:00   3.78

[177792 rows x 1 columns]

In [19]:
geps = pd.read_pickle('./GEP/GEP data cleaning/building_1_full.pkl')
geps4 = pd.read_pickle('./GEP/GEP data cleaning/building_4_full.pkl')

In [5]:
lengths = []
for i in range(1,29):
    filename = '../data/Columbia_clean/Residential_'+str(i)+'.csv'
    df = pd.read_csv(filename, index_col=0)
    lengths.append(len(df))
print("Max: {}".format(max(lengths)))
print("Min: {}".format(min(lengths)))

Max: 30240
Min: 4175

In [16]:
temp[temp.isna()]

                     energy_kWh
2012-06-01 01:00:00         NaN
2012-06-01 02:00:00         NaN
2012-06-01 03:00:00         NaN
2012-06-01 04:00:00         NaN
2012-06-01 05:00:00         NaN
...                         ...
2015-10-02 20:00:00         NaN
2015-10-02 21:00:00         NaN
2015-10-02 22:00:00         NaN
2015-10-02 23:00:00         NaN
2015-10-03 00:00:00         NaN

[29231 rows x 1 columns]

In [21]:
for i in range(1,29):
    filename = '../data/Columbia_clean/Residential_'+str(i)+'.csv'
    temp = pd.read_csv(filename, index_col=0)
    print('{}:   {}'.format(i,temp['energy_kWh'].isna().sum() * 100 / temp.shape[0]))

1:   0.0
2:   0.5687830687830688
3:   1.289050652107977
4:   0.47141119221411193
5:   0.5170316301703163
6:   0.3117396593673966
7:   0.28175026680896476
8:   1.2697688564476886
9:   0.4417784622867102
10:   0.47141119221411193
11:   1.0454683698296836
12:   0.7755474452554745
13:   0.20909367396593673
14:   0.47521289537712896
15:   0.4946492271105826
16:   11.93859649122807
17:   0.41291291291291293
18:   1.4028284671532847
19:   0.7489355231143552
20:   0.1967830253251198
21:   1.0562704052237373
22:   0.40075436115040075
23:   1.5159214092140922
24:   0.2281021897810219
25:   0.6234793187347932
26:   0.2874251497005988
27:   0.2639766192137268
28:   0.22796352583586627

In [21]:
geps.index.duplicated().sum()

0

In [22]:
geps4.index.duplicated().sum()

4