In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [31]:
Dieteren = pd.read_csv('Dieteren-forecast_2months.csv', index_col='timestamp', usecols=['timestamp','h', 'prediction'])

In [32]:
Dieteren

                        h   prediction
timestamp
2016-11-01 23:00:00   t+1  1522.870022
2016-11-02 00:00:00   t+1  1692.099829
2016-11-02 01:00:00   t+1  1520.317534
2016-11-02 02:00:00   t+1  1588.107991
2016-11-02 03:00:00   t+1  1611.277669
...                   ...          ...
2016-12-30 20:00:00  t+24  1408.209167
2016-12-30 21:00:00  t+24  1219.946318
2016-12-30 22:00:00  t+24  1031.887423
2016-12-30 23:00:00  t+24   941.082261
2016-12-31 00:00:00  t+24  1135.042627

[34032 rows x 2 columns]

In [33]:
pivot = pd.pivot_table(Dieteren, values='prediction', index=['timestamp'], columns=['h'])

In [34]:
pivot

h,t+1,t+10,t+11,t+12,t+13,t+14,t+15,t+16,t+17,t+18,...,t+22,t+23,t+24,t+3,t+4,t+5,t+6,t+7,t+8,t+9
timestamp,,,,,,,,,,,,,,,,,,,,,
2016-11-01 23:00:00,1522.870022,3286.288075,3172.985099,2962.520233,2937.235092,3072.962680,3278.681770,3429.526453,3473.642858,3405.464221,...,2134.027584,1809.308682,1560.202469,1298.717235,1312.811975,1370.552352,1513.048250,1899.583210,2502.156195,3069.664311
2016-11-02 00:00:00,1692.099829,3260.272019,3260.044799,3244.236246,3275.171963,3381.293413,3533.564007,3613.893356,3451.450092,3116.108160,...,2018.844802,1716.797597,1565.571538,1735.678388,1742.447379,1868.669807,2282.950282,2756.156490,3066.402950,3211.164113
2016-11-02 01:00:00,1520.317534,3490.598126,3582.766339,3608.718446,3636.695400,3715.878851,3828.078651,3760.135398,3446.121706,2984.852052,...,1807.164374,1622.323030,1595.864915,1712.490750,1939.539577,2339.357270,2793.770854,3072.366737,3174.907901,3327.289792
2016-11-02 02:00:00,1588.107991,3864.551471,4016.416877,4050.440342,4008.736827,3992.215319,4004.971228,3809.455558,3353.492793,2724.943210,...,1675.913981,1586.240702,1572.982460,2061.779389,2503.817489,3004.736966,3372.825848,3484.397322,3482.319412,3645.946943
2016-11-02 03:00:00,1611.277669,4125.331369,4315.077817,4362.781856,4242.850031,4076.549191,3937.539833,3646.445468,3124.241018,2442.417912,...,1581.577242,1471.139284,1429.437402,2516.945658,3020.069309,3467.213473,3748.151495,3792.295384,3752.397659,3904.868261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-30 20:00:00,1702.509788,1319.540964,1373.179809,1378.319752,1316.928202,1291.472578,1279.427720,1298.398854,1343.361689,1433.924121,...,1536.120100,1487.288260,1408.209167,1179.660822,1135.758235,1177.310791,1273.244740,1284.911623,1277.781801,1276.570185
2016-12-30 21:00:00,1496.345782,1379.707157,1402.615871,1350.593421,1248.230495,1224.568824,1263.183502,1341.611276,1387.720690,1451.214232,...,1391.348597,1298.107686,1219.946318,1050.943936,1034.040167,1129.287760,1284.627938,1337.736284,1350.032173,1353.175570
2016-12-30 22:00:00,1328.448548,1556.591706,1533.519856,1397.516610,1249.092572,1262.618581,1412.786773,1557.208739,1592.075368,1585.936472,...,1315.115201,1136.593848,1031.887423,1066.645341,1107.026284,1235.561802,1372.461411,1420.328994,1460.546324,1515.141535
2016-12-30 23:00:00,1246.257215,1881.846277,1823.311853,1611.026230,1406.538620,1435.371392,1720.205631,2011.063116,2140.072191,2011.925057,...,1349.888901,1118.144504,941.082261,1328.660121,1441.636689,1463.409301,1452.694567,1539.509630,1684.403724,1817.883871
2016-12-31 00:00:00,1688.238715,2126.442369,2035.012146,1913.317254,1850.654631,1988.950489,2216.413891,2383.737359,2340.583444,2169.987729,...,1541.619923,1279.113013,1135.042627,1719.198514,1821.257754,1929.066349,2085.739848,2182.908270,2216.162996,2184.872026

In [36]:
pivot.columns = pivot.columns.str.extract('(\d+)', expand=False)

In [37]:
pivot2 = pivot.reindex(sorted(pivot2.columns.astype(int)), axis=1)
pivot2

h,1,2,3,4,5,6,7,8,9,10,...,15,16,17,18,19,20,21,22,23,24
timestamp,,,,,,,,,,,,,,,,,,,,,
2016-11-01 23:00:00,1522.870022,3286.288075,3172.985099,2962.520233,2937.235092,3072.962680,3278.681770,3429.526453,3473.642858,3405.464221,...,2134.027584,1809.308682,1560.202469,1298.717235,1312.811975,1370.552352,1513.048250,1899.583210,2502.156195,3069.664311
2016-11-02 00:00:00,1692.099829,3260.272019,3260.044799,3244.236246,3275.171963,3381.293413,3533.564007,3613.893356,3451.450092,3116.108160,...,2018.844802,1716.797597,1565.571538,1735.678388,1742.447379,1868.669807,2282.950282,2756.156490,3066.402950,3211.164113
2016-11-02 01:00:00,1520.317534,3490.598126,3582.766339,3608.718446,3636.695400,3715.878851,3828.078651,3760.135398,3446.121706,2984.852052,...,1807.164374,1622.323030,1595.864915,1712.490750,1939.539577,2339.357270,2793.770854,3072.366737,3174.907901,3327.289792
2016-11-02 02:00:00,1588.107991,3864.551471,4016.416877,4050.440342,4008.736827,3992.215319,4004.971228,3809.455558,3353.492793,2724.943210,...,1675.913981,1586.240702,1572.982460,2061.779389,2503.817489,3004.736966,3372.825848,3484.397322,3482.319412,3645.946943
2016-11-02 03:00:00,1611.277669,4125.331369,4315.077817,4362.781856,4242.850031,4076.549191,3937.539833,3646.445468,3124.241018,2442.417912,...,1581.577242,1471.139284,1429.437402,2516.945658,3020.069309,3467.213473,3748.151495,3792.295384,3752.397659,3904.868261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-30 20:00:00,1702.509788,1319.540964,1373.179809,1378.319752,1316.928202,1291.472578,1279.427720,1298.398854,1343.361689,1433.924121,...,1536.120100,1487.288260,1408.209167,1179.660822,1135.758235,1177.310791,1273.244740,1284.911623,1277.781801,1276.570185
2016-12-30 21:00:00,1496.345782,1379.707157,1402.615871,1350.593421,1248.230495,1224.568824,1263.183502,1341.611276,1387.720690,1451.214232,...,1391.348597,1298.107686,1219.946318,1050.943936,1034.040167,1129.287760,1284.627938,1337.736284,1350.032173,1353.175570
2016-12-30 22:00:00,1328.448548,1556.591706,1533.519856,1397.516610,1249.092572,1262.618581,1412.786773,1557.208739,1592.075368,1585.936472,...,1315.115201,1136.593848,1031.887423,1066.645341,1107.026284,1235.561802,1372.461411,1420.328994,1460.546324,1515.141535
2016-12-30 23:00:00,1246.257215,1881.846277,1823.311853,1611.026230,1406.538620,1435.371392,1720.205631,2011.063116,2140.072191,2011.925057,...,1349.888901,1118.144504,941.082261,1328.660121,1441.636689,1463.409301,1452.694567,1539.509630,1684.403724,1817.883871
2016-12-31 00:00:00,1688.238715,2126.442369,2035.012146,1913.317254,1850.654631,1988.950489,2216.413891,2383.737359,2340.583444,2169.987729,...,1541.619923,1279.113013,1135.042627,1719.198514,1821.257754,1929.066349,2085.739848,2182.908270,2216.162996,2184.872026

In [38]:
pivot2.to_csv('Dieteren_forecast.csv')