In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [24]:
Dieteren = pd.read_csv('Dieteren-forecast_2months.csv', index_col='timestamp', usecols=['timestamp','h', 'prediction'])

In [25]:
Dieteren['h'] = Dieteren['h'].str.extract('(\d+)', expand=False).astype(int)

In [26]:
Dieteren

                      h  prediction
timestamp
2016-07-03 12:00:00   1  844.855295
2016-07-03 13:00:00   1  835.339528
2016-07-03 14:00:00   1  828.146197
2016-07-03 15:00:00   1  802.227366
2016-07-03 16:00:00   1  786.392133
...                  ..         ...
2016-12-30 20:00:00  24  261.292253
2016-12-30 21:00:00  24  268.182466
2016-12-30 22:00:00  24  279.920844
2016-12-30 23:00:00  24  293.353390
2016-12-31 00:00:00  24  286.206442

[103992 rows x 2 columns]

In [33]:
pivot = pd.pivot_table(Dieteren, values='prediction', index=['timestamp'], columns=['h'])

In [34]:
pivot.add_prefix('Consumer_0_forec_h_')

h,Consumer_0_forec_h_1,Consumer_0_forec_h_2,Consumer_0_forec_h_3,Consumer_0_forec_h_4,Consumer_0_forec_h_5,Consumer_0_forec_h_6,Consumer_0_forec_h_7,Consumer_0_forec_h_8,Consumer_0_forec_h_9,Consumer_0_forec_h_10,...,Consumer_0_forec_h_15,Consumer_0_forec_h_16,Consumer_0_forec_h_17,Consumer_0_forec_h_18,Consumer_0_forec_h_19,Consumer_0_forec_h_20,Consumer_0_forec_h_21,Consumer_0_forec_h_22,Consumer_0_forec_h_23,Consumer_0_forec_h_24
timestamp,,,,,,,,,,,,,,,,,,,,,
2016-07-03 12:00:00,844.855295,852.489394,765.954305,737.306630,745.304682,610.980562,564.927789,553.821603,476.194599,427.294385,...,455.843617,494.567435,575.306991,673.691325,694.625078,728.446739,761.842173,818.926463,845.887392,836.928169
2016-07-03 13:00:00,835.339528,845.846347,740.832340,706.947485,704.011878,566.304021,529.591512,503.240319,424.702238,398.316135,...,474.602063,556.738436,622.436527,731.382468,749.800338,780.483371,788.619040,846.491362,860.349153,853.550328
2016-07-03 14:00:00,828.146197,830.209840,714.154499,675.391936,658.505218,524.868263,500.986571,453.088360,379.215917,379.608031,...,515.431337,623.476907,670.435941,788.312453,798.173459,823.873501,818.236721,871.743274,869.691963,856.389241
2016-07-03 15:00:00,802.227366,777.705628,667.794772,623.113691,590.379777,474.464016,469.310890,388.478260,327.296041,352.722904,...,574.111016,689.838788,716.664002,836.256219,836.579984,858.643450,842.257319,886.827533,862.462616,837.531770
2016-07-03 16:00:00,786.392133,729.598538,636.797483,584.908591,538.818055,440.450011,446.353405,345.342381,298.320307,347.590792,...,658.566817,750.174168,762.524920,878.064887,869.780926,886.437137,871.893223,907.194988,847.929991,807.264901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-30 20:00:00,367.949198,311.187507,437.694447,310.891167,196.461417,191.639649,290.248262,175.903672,171.500123,172.923292,...,224.539649,269.395680,232.995586,276.795699,81.691125,216.990648,197.605961,186.071831,270.631090,261.292253
2016-12-30 21:00:00,336.286249,257.403113,425.274518,283.094243,168.525311,176.734605,284.174657,182.292882,168.567707,154.826335,...,222.143298,257.819201,239.891090,284.500539,78.146261,229.882159,185.100198,190.168348,269.749709,268.182466
2016-12-30 22:00:00,310.018866,212.549121,419.547241,260.790423,152.765115,168.874600,285.725795,191.145687,172.084306,139.902240,...,224.236698,249.151531,249.289700,298.122133,81.575277,247.955081,183.511772,205.901917,277.991765,279.920844
2016-12-30 23:00:00,291.393160,173.429294,417.091147,241.763952,142.976338,164.554700,290.165020,201.556425,179.160467,127.515549,...,229.315770,243.435129,263.732396,315.770685,92.903223,270.390705,186.510114,225.961391,289.865797,293.353390
2016-12-31 00:00:00,256.213305,220.466799,388.379971,297.700784,166.160727,145.978898,240.929461,123.344510,140.357318,71.647449,...,199.174600,212.500284,184.169871,265.948243,119.771427,182.799498,190.328452,221.880059,265.748582,286.206442

In [35]:
pivot.to_csv('Dieteren_forecast.csv')