In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [24]:
Dieteren = pd.read_csv('Dieteren-forecast_2months.csv', index_col='timestamp', usecols=['timestamp','h', 'prediction'])

In [25]:
Dieteren['h'] = Dieteren['h'].str.extract('(\d+)', expand=False).astype(int)

In [26]:
Dieteren

                      h  prediction
timestamp
2016-07-03 12:00:00   1  844.855295
2016-07-03 13:00:00   1  835.339528
2016-07-03 14:00:00   1  828.146197
2016-07-03 15:00:00   1  802.227366
2016-07-03 16:00:00   1  786.392133
...                  ..         ...
2016-12-30 20:00:00  24  261.292253
2016-12-30 21:00:00  24  268.182466
2016-12-30 22:00:00  24  279.920844
2016-12-30 23:00:00  24  293.353390
2016-12-31 00:00:00  24  286.206442

[103992 rows x 2 columns]

In [33]:
pivot = pd.pivot_table(Dieteren, values='prediction', index=['timestamp'], columns=['h'])

In [38]:
pivot = pivot.add_prefix('Consumer_0_forec_h_')

In [39]:
pivot.to_csv('Dieteren_forecast.csv')