In [83]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import datetime as dt
import pickle

In [84]:
# Create a df with holidays
from workalendar.europe import Belgium
cal = Belgium()
years = list(range(2014, 2021))
holidays = []
for year in years:
    holidays.extend(cal.holidays(year))
holidays

[(datetime.date(2014, 1, 1), 'New year'),
 (datetime.date(2014, 4, 21), 'Easter Monday'),
 (datetime.date(2014, 5, 1), 'Labour Day'),
 (datetime.date(2014, 5, 29), 'Ascension Thursday'),
 (datetime.date(2014, 6, 9), 'Whit Monday'),
 (datetime.date(2014, 7, 21), 'National Day'),
 (datetime.date(2014, 8, 15), 'Assumption of Mary to Heaven'),
 (datetime.date(2014, 11, 1), 'All Saints Day'),
 (datetime.date(2014, 11, 11), 'Armistice of 1918'),
 (datetime.date(2014, 12, 25), 'Christmas Day'),
 (datetime.date(2015, 1, 1), 'New year'),
 (datetime.date(2015, 4, 6), 'Easter Monday'),
 (datetime.date(2015, 5, 1), 'Labour Day'),
 (datetime.date(2015, 5, 14), 'Ascension Thursday'),
 (datetime.date(2015, 5, 25), 'Whit Monday'),
 (datetime.date(2015, 7, 21), 'National Day'),
 (datetime.date(2015, 8, 15), 'Assumption of Mary to Heaven'),
 (datetime.date(2015, 11, 1), 'All Saints Day'),
 (datetime.date(2015, 11, 11), 'Armistice of 1918'),
 (datetime.date(2015, 12, 25), 'Christmas Day'),
 (datetime.date(2016, 1, 1), 'New year'),
 (datetime.date(2016, 3, 28), 'Easter Monday'),
 (datetime.date(2016, 5, 1), 'Labour Day'),
 (datetime.date(2016, 5, 5), 'Ascension Thursday'),
 (datetime.date(2016, 5, 16), 'Whit Monday'),
 (datetime.date(2016, 7, 21), 'National Day'),
 (datetime.date(2016, 8, 15), 'Assumption of Mary to Heaven'),
 (datetime.date(2016, 11, 1), 'All Saints Day'),
 (datetime.date(2016, 11, 11), 'Armistice of 1918'),
 (datetime.date(2016, 12, 25), 'Christmas Day'),
 (datetime.date(2017, 1, 1), 'New year'),
 (datetime.date(2017, 4, 17), 'Easter Monday'),
 (datetime.date(2017, 5, 1), 'Labour Day'),
 (datetime.date(2017, 5, 25), 'Ascension Thursday'),
 (datetime.date(2017, 6, 5), 'Whit Monday'),
 (datetime.date(2017, 7, 21), 'National Day'),
 (datetime.date(2017, 8, 15), 'Assumption of Mary to Heaven'),
 (datetime.date(2017, 11, 1), 'All Saints Day'),
 (datetime.date(2017, 11, 11), 'Armistice of 1918'),
 (datetime.date(2017, 12, 25), 'Christmas Day'),
 (datetime.date(2018, 1, 1), 'New year'),
 (datetime.date(2018, 4, 2), 'Easter Monday'),
 (datetime.date(2018, 5, 1), 'Labour Day'),
 (datetime.date(2018, 5, 10), 'Ascension Thursday'),
 (datetime.date(2018, 5, 21), 'Whit Monday'),
 (datetime.date(2018, 7, 21), 'National Day'),
 (datetime.date(2018, 8, 15), 'Assumption of Mary to Heaven'),
 (datetime.date(2018, 11, 1), 'All Saints Day'),
 (datetime.date(2018, 11, 11), 'Armistice of 1918'),
 (datetime.date(2018, 12, 25), 'Christmas Day'),
 (datetime.date(2019, 1, 1), 'New year'),
 (datetime.date(2019, 4, 22), 'Easter Monday'),
 (datetime.date(2019, 5, 1), 'Labour Day'),
 (datetime.date(2019, 5, 30), 'Ascension Thursday'),
 (datetime.date(2019, 6, 10), 'Whit Monday'),
 (datetime.date(2019, 7, 21), 'National Day'),
 (datetime.date(2019, 8, 15), 'Assumption of Mary to Heaven'),
 (datetime.date(2019, 11, 1), 'All Saints Day'),
 (datetime.date(2019, 11, 11), 'Armistice of 1918'),
 (datetime.date(2019, 12, 25), 'Christmas Day'),
 (datetime.date(2020, 1, 1), 'New year'),
 (datetime.date(2020, 4, 13), 'Easter Monday'),
 (datetime.date(2020, 5, 1), 'Labour Day'),
 (datetime.date(2020, 5, 21), 'Ascension Thursday'),
 (datetime.date(2020, 6, 1), 'Whit Monday'),
 (datetime.date(2020, 7, 21), 'National Day'),
 (datetime.date(2020, 8, 15), 'Assumption of Mary to Heaven'),
 (datetime.date(2020, 11, 1), 'All Saints Day'),
 (datetime.date(2020, 11, 11), 'Armistice of 1918'),
 (datetime.date(2020, 12, 25), 'Christmas Day')]

In [97]:
df_holidays = pd.DataFrame(holidays, columns=['Datetime', 'holiday'])
df_holidays.head()
df_holidays.to_pickle('./holidays2014_2020.pkl')

In [98]:
df_holidays['Datetime'] = pd.to_datetime(df_holidays['Datetime'])
df_holidays['date'] = df_holidays['Datetime'].dt.date
df_holidays

     Datetime                       holiday        date
0  2014-01-01                      New year  2014-01-01
1  2014-04-21                 Easter Monday  2014-04-21
2  2014-05-01                    Labour Day  2014-05-01
3  2014-05-29            Ascension Thursday  2014-05-29
4  2014-06-09                   Whit Monday  2014-06-09
..        ...                           ...         ...
65 2020-07-21                  National Day  2020-07-21
66 2020-08-15  Assumption of Mary to Heaven  2020-08-15
67 2020-11-01                All Saints Day  2020-11-01
68 2020-11-11             Armistice of 1918  2020-11-11
69 2020-12-25                 Christmas Day  2020-12-25

[70 rows x 3 columns]

In [99]:
data1 = pd.read_pickle('Building-1-Roulart Media Group/building_1_cnsumptions.pkl')
data1.index = pd.to_datetime(data1.index)
data1['Datetime'] = data1.index
data1

                     Valeur            Datetime
Date
2014-01-06 02:00:00    6.51 2014-01-06 02:00:00
2014-01-06 02:15:00    6.51 2014-01-06 02:15:00
2014-01-06 02:30:00    6.72 2014-01-06 02:30:00
2014-01-06 02:45:00    6.51 2014-01-06 02:45:00
2014-01-06 03:00:00    6.93 2014-01-06 03:00:00
...                     ...                 ...
2020-06-30 23:00:00    5.04 2020-06-30 23:00:00
2020-06-30 23:15:00    3.36 2020-06-30 23:15:00
2020-06-30 23:30:00    3.36 2020-06-30 23:30:00
2020-06-30 23:45:00    4.20 2020-06-30 23:45:00
2020-01-07 00:00:00    3.57 2020-01-07 00:00:00

[213305 rows x 2 columns]

In [109]:
# Making sure there are no duplicated data
# If there are some duplicates we average the data during those duplicated days
data1 = data1.groupby('Datetime', as_index=False)['Valeur'].mean()

# Sorting the values
data1.sort_values('Datetime', inplace=True)
data1['Datetime'] = pd.to_datetime(data1['Datetime'])
data1['date'] = data1['Datetime'].dt.date
data1.head()

             Datetime  Valeur        date
0 2014-01-06 02:00:00    6.51  2014-01-06
1 2014-01-06 02:15:00    6.51  2014-01-06
2 2014-01-06 02:30:00    6.72  2014-01-06
3 2014-01-06 02:45:00    6.51  2014-01-06
4 2014-01-06 03:00:00    6.93  2014-01-06

In [114]:
dataplus = data1.merge(df_holidays, on='date', how='left')
dataplus['date'] = pd.to_datetime(dataplus['date'])
dataplus = dataplus.drop('Datetime_y', axis=1)
dataplus.columns = ['Datetime', 'Valeur', 'date', 'holiday']
dataplus.loc[dataplus['date'] >= '2014-06-09']

                  Datetime  Valeur       date      holiday
3640   2014-06-09 00:00:00    6.93 2014-06-09  Whit Monday
3641   2014-06-09 00:15:00    6.72 2014-06-09  Whit Monday
3642   2014-06-09 00:30:00    6.93 2014-06-09  Whit Monday
3643   2014-06-09 00:45:00    7.77 2014-06-09  Whit Monday
3644   2014-06-09 01:00:00    7.35 2014-06-09  Whit Monday
...                    ...     ...        ...          ...
213276 2020-12-06 22:45:00    5.88 2020-12-06          NaN
213277 2020-12-06 23:00:00    4.83 2020-12-06          NaN
213278 2020-12-06 23:15:00    3.36 2020-12-06          NaN
213279 2020-12-06 23:30:00    3.36 2020-12-06          NaN
213280 2020-12-06 23:45:00    3.15 2020-12-06          NaN

[209641 rows x 4 columns]

In [123]:
dataplus['holiday'] = dataplus['holiday'].fillna(value=False)
dataplus.loc[dataplus['Datetime'] >= '2014-06-09']

                  Datetime  Valeur      holiday
3640   2014-06-09 00:00:00    6.93  Whit Monday
3641   2014-06-09 00:15:00    6.72  Whit Monday
3642   2014-06-09 00:30:00    6.93  Whit Monday
3643   2014-06-09 00:45:00    7.77  Whit Monday
3644   2014-06-09 01:00:00    7.35  Whit Monday
...                    ...     ...          ...
213276 2020-12-06 22:45:00    5.88        False
213277 2020-12-06 23:00:00    4.83        False
213278 2020-12-06 23:15:00    3.36        False
213279 2020-12-06 23:30:00    3.36        False
213280 2020-12-06 23:45:00    3.15        False

[209641 rows x 3 columns]

In [129]:
dataplus['working day'] =  dataplus['Datetime'].apply(cal.is_working_day)
dataplus.head()

             Datetime  Valeur holiday  working day
0 2014-01-06 02:00:00    6.51   False         True
1 2014-01-06 02:15:00    6.51   False         True
2 2014-01-06 02:30:00    6.72   False         True
3 2014-01-06 02:45:00    6.51   False         True
4 2014-01-06 03:00:00    6.93   False         True

In [130]:
dataplus = dataplus.drop('holiday', axis=1)
dataplus.head()

             Datetime  Valeur  working day
0 2014-01-06 02:00:00    6.51         True
1 2014-01-06 02:15:00    6.51         True
2 2014-01-06 02:30:00    6.72         True
3 2014-01-06 02:45:00    6.51         True
4 2014-01-06 03:00:00    6.93         True