In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import pickle

import os

In [7]:
names = ['GEP1', 'GEP4']

In [24]:
GEP1 = pd.read_csv('./GEP/Consumption_15min.csv', index_col=0, header=0, names=['value'])
GEP2 = pd.read_csv('./GEP/B2_Consumption_15min.csv', index_col=0, header=0, names=['value'])
GEP4 = pd.read_csv('./GEP/B4_Consumption_15min.csv', index_col=0, header=0, names=['value'])

In [27]:
GEP4

                     value
2018-05-05 00:00:00  4.094
2018-05-05 00:15:00  4.120
2018-05-05 00:30:00  4.019
2018-05-05 00:45:00  4.145
2018-05-05 01:00:00  4.195
...                    ...
2020-02-29 22:45:00  5.275
2020-02-29 23:00:00  5.451
2020-02-29 23:15:00  5.325
2020-02-29 23:30:00  5.526
2020-02-29 23:45:00  5.577

[63936 rows x 1 columns]

In [26]:
GEP1['00:00':]

                     value
2014-12-06 00:00:00   7.14
2014-12-06 00:15:00   7.56
2014-12-06 00:30:00   6.72
2014-12-06 00:45:00   6.93
2014-12-06 01:00:00   7.14
...                    ...
2019-12-31 22:45:00   3.78
2019-12-31 23:00:00   3.99
2019-12-31 23:15:00   3.78
2019-12-31 23:30:00   3.78
2019-12-31 23:45:00   3.78

[177792 rows x 1 columns]

In [19]:
geps = pd.read_pickle('./GEP/GEP data cleaning/building_1_full.pkl')
geps4 = pd.read_pickle('./GEP/GEP data cleaning/building_4_full.pkl')

In [20]:
lengths = []
for i in range(1,29):
    filename = '../data/Columbia_clean/Residential_'+str(i)+'.csv'
    df = pd.read_csv(filename, index_col=0)
    lengths.append(len(df))
print("Max: {}".format(max(lengths)))
print("Min: {}".format(min(lengths)))

Max: 30240
Min: 4175

In [21]:
geps.index.duplicated().sum()

0

In [22]:
geps4.index.duplicated().sum()

4